gradle/fmmr-library/library/src/main/ffmpeg/

.DS_Store

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
gradle/fmmr-library/.idea/gradle.xml
gradle/fmmr-library/.idea/caches/build_file_checksums.ser
gradle/fmmr-library/.idea/misc.xml
gradle/fmmr-library/.idea/modules.xml
gradle/fmmr-library/.idea/workspace.xml
gradle/fmmr-library/.idea/
